@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 100%;
    font-weight: 400;
    color: black;
    text-transform: none;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;

    background-color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

  button {
    cursor: pointer;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  label {
    cursor: pointer;
  }

  body {
    height: 100%;
  }
}
@layer components {
  .btn {
    background: rgba(120, 192, 129, 0.25);
    border-radius: 40px;
    padding: 15px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;

    &:disabled div {
      background: #9cd3a3;
    }

    & div {
      border-radius: 30px;
      background: #5ccd6a;
      box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & div:hover {
      background: #54e165;
    }
  }

  .background-hero {
    background-image: url("/image/backgroundHero.png"),
      linear-gradient(
        270deg,
        rgb(242, 242, 242),
        rgb(240, 242, 241) 17.352%,
        rgb(239, 239, 239) 35.508%,
        rgb(234, 236, 235) 51.426%,
        rgb(231, 232, 234) 66.972%,
        rgb(226, 230, 229) 82.268%,
        rgb(222, 226, 225) 100%
      );
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
  }

  .btn-services {
    background: #fff;
    color: #7ca281;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    &[data-valid="this"] {
      background: #5ccd6a;
      box-shadow: -2px -2px 12px 0px rgba(34, 111, 33, 0.3) inset;
      color: #fff;
    }
  }
}
@layer utilities {
}
